@import './reset.scss';
@import '~normalize.css/normalize.css';
@import './mixins.scss';
@import './variables/breakpoints.scss';
@import './variables/colours.scss';
@import './variables/fonts.scss';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'font1', sans-serif;
  font-size: 16px;
}


.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem($maxWidth);
  position: relative;
}


@media only screen and (min-width: rem($desktop)) {
 
}